*{
    margin: 0 auto; 
    padding:0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 120%;
}

#resultado, #altura,  #peso, #idade {
    border: none;
    border-bottom: 2px solid blue;
    outline: none;
    width: 100px;
}

#resultado {
    width: 200px;
}

.content {
    margin: 10px;
}